/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$bg-nav: #0e1621;
$bg-main: #242f3d;

body{
   font-family: Arial;
   font-weight: bold;
   color: white;
   margin: 0;
   #Home{
      display: flex;
   }
}

#Nav {
   background-color: $bg-nav;
   width: 20%;
   min-height: 100vh;

   button{
      background-color: #242f3d;
      margin: 2vw 2vw 1vw 2vw;
      padding: 1vw;
      font-size: 1.5vw;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      border: none;
      width: 16vw;
      text-align: left;
   }
   .active{
      width: 18vw;
      display: block;
   }
   :not(.active):hover{
      opacity: 0.7;
   }

}

#Main{
   background-color: $bg-main;
   width: 80%;

   #Bar{
      width: 71vw;
      background-color: #4b5562;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0 0 5px 5px;
      padding: 1vw;
      display: flex;
      justify-content: space-between;

      #rightSideBar, #leftSideBar {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      #search-user{
         background-color: #0e1621;
         border: 1px white solid;
         border-radius: 5px;
         font-size: 1.5vw;
         color: white;
         padding-left: 2vw; 
         padding-right: 2vw;
       }

      #BarButton{
         color: white;
         border: none;
         font-size: 1.5vw;
         padding-left: 2vw;
         padding-right: 2vw;
         font-weight: bold;
         height: 2vw; 
         display: inline-flex;
         align-items: center;
         justify-content: space-evenly;      
      }

      .b-r-all  {border-radius: 0.5vw;}
      .b-r-left {border-radius: 0.5vw 0 0 0.5vw;}
      .b-r-right{border-radius: 0 0.5vw 0.5vw 0;}
      .lock     {background-color: #687689;}
      .unlock   {background-color: $bg-nav;}
      .unlock:hover{opacity: 0.3;}
      .w-10{width: 10vw;}
      .w-2 {width:  2vw;}
      .m-b-1{margin-bottom: 1vw;}

      .selected{background-color: $bg-nav;}
      .not-selected{background-color: #8b8b89;}
      #BarButton.not-selected:hover{opacity: 0.3;}
      #ToggleLanguage{
         display: flex;
         margin-bottom: 1vw;
      }
   }

   #Table{
      width: 73vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2vw;

      color: white;

      #TableHead, .user-row{
         display: grid;  
         justify-items: stretch;
         align-items: stretch;
      }

      .col-5{grid-template-columns: 0.07fr 1fr 1fr 1fr 1fr;}//repeat(4, 1fr);}
      .fr6{grid-template-columns: repeat(6, 1fr);}
      
      #TableHead{
         background-color: $bg-nav;
         border-radius: 0.5vw 0.5vw 0 0;
         border: 1px solid #909090;
      }
      .user-row{
         background-color: #3c424b;
         border-width: 0 1px 1px 1px;
         border-style: solid;
         border-color: #909090;
      }
      .user-row:last-child{border-radius: 0 0 0.5vw 0.5vw;}
      .f-s-07{font-size: 0.7vw;}
      .f-s-08{font-size: 0.8vw;}

      .cell{
         padding: 0.3vw;
         word-break: break-all;
         display: inline-flex;
         align-items: center;
         justify-content: space-around;
      }

      .cell:not(:nth-child(5n + 5)) {
         border-right: 1px dashed #626262;
      }

      .cell-body:not(:nth-last-child(-n+5)){
         border-bottom: 1px solid #626262;
      }
      input[type='checkbox']{
         width: 1vw;   
      }
  }
}

.blanket {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: black;
   opacity: 0.5;
   z-index: 100;
 }

#form-wrap{
   display: flex;
   justify-content: center;
   
   form{
      z-index: 200;
      position: fixed;
      background-color: $bg-main;
      border: 1px solid wheat;
      padding: 2vw;


      textarea{
         background-color: #0e1621;
         color: white;
         width: 40vw;
         height: 20vw;
         border-radius: 5px;
      }

      #form-buttons{
         display: flex;
         justify-content: space-evenly;
      
         .form-button{
            color: white;
            background-color: $bg-nav;
            border: none;
            border-radius: 5px;
            width: 14vw;
            height: 4vw;
            font-size: 2vw;
            font-weight: bold;
            margin: 1vw;
         }

      }
         

   }
      
}

.none{display: none;}